//
//  Config.xcconfig
//  cert-wallet
//
//  Created by Chris Downie on 10/5/16.
//  Copyright © 2016 Digital Certificates Project. All rights reserved.
//
MODULEMAP_FILE[sdk=iphoneos*]        = $(SRCROOT)/Frameworks/CommonCrypto/iphoneos.modulemap
MODULEMAP_FILE[sdk=iphonesimulator*] = $(SRCROOT)/Frameworks/CommonCrypto/iphonesimulator.modulemap
MODULEMAP_FILE[sdk=macosx*]          = $(SRCROOT)/Frameworks/CommonCrypto/macosx.modulemap
