<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ImportAction.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ImportActionFileProvider.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>JSONLD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>cert-wallet.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>832A0B831D8B129800BDCD59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832A0B911D8B129800BDCD59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832A0BA91D8B12D900BDCD59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>832A0BB71D8B12D900BDCD59</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>8354F30F1D9F13840008DB09</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836A31A21D5933D800943801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836A31B81D5933D800943801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>836A31C31D5933D800943801</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83C4A8CB1D8C95B80012306D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>83DF83341D8C6804006CA7AF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
